
* {
margin: 0em;
padding: 0em;
font-size: 100%;
border-style: none;
list-style-type: none;
}

body {
font-family: helvetica, calibri, sans-serif;
background-color: #f6f7fb;
color: #273149;
}

#wrapper {
width: 1300px;
margin: 20px auto;
}

nav {
margin-top: 8px;
}

nav ul {
width: 1250px;
margin: auto;
display: flex;
justify-content: space-between;
}

nav a {
font-size: 30px;
color: #273149;
text-decoration: none;
}

#current {
color: #998a0c;
}

main {
width: 1250px;
margin: auto;
margin-top: 40px;
margin-left: 100px;
display: flex;
justify-content: space-between;
}

section {
width: 45%;
}

h1 {
font-size: 34px;
}

h2 {
font-size: 28px;
margin-top: 5px;
}



section ul {
margin-top: 20px;
line-height: 1.5em;
}

figure {
width: 990px;
margin: auto;
margin-top: 40px;
}

#col1 img, iframe {
	margin-top: 40px;
}

form {
	margin-top: 30px;
	background-color: #eee;
	padding: 10px 0px 30px 100px;
}

.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

fieldset {
	margin-top: 30px;
	font-weight: bold;
}

fieldset div {
	display: flex;
}

.row {
    padding-bottom: 10px;
}


input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 50%;
    box-sizing: border-box;
    border-radius: 2px;
}

label {
	display: block;
	margin-top: 10px;
	margin-right: 4px;
	font-weight: normal;
	
}

.error {
    color: red;
    font-size: 90%;
}

form p {
	margin-top: 4px;
	font-size: 12px;
}


.Q1{
    display:block;

  }



textarea {
	font-family: helvetica, calibri, sans-serif;
	margin-top: 10px;
	max-width:340px;
	min-width:340px;
	border: 1px solid #273149;
}

input[type=submit] {

	margin-top: 20px;
	padding: 2px 8px;
}

footer {
width: 620px;
margin: auto;
margin-top: 40px;
}

footer ul {
display: flex;
justify-content: space-around;
align-items: center;
}

footer a {
color: #273149;
text-decoration: none;
}

	
.next{
	margin-left: 950px;
	padding: 20px;
	font-size: 30px;
	color: #0d0d0e;
	position: absolute;
	top:60%;
	background-color: #8394b9;
}
.prew{
	padding: 20px;
	font-size: 30px;
	color: #0d0d0e;
	position: absolute;
	top:60%;
	background-color: #8394b9;
}

dd{
	
	display:none;
}
dt{
	text-decoration:underline;
}